<div class="box mt-5 m-auto w-100">
  <div class="select my-2 mb-5 m-auto d-flex justify-content-between">

    <label for="" class="my-1 mb-3 w-100">Categorie :</label>

    <select title="category" class="form-control select-item" (change)="filterCategory($event)">
      <option value="all" selected>All</option>
      <option value="{{option}}" *ngFor="let option of categories">{{option}}</option>

    </select>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-3 col-sm-12 productsContainer" *ngFor="let item of products">
      <div class="item mylighter">
        <img src="{{item.image}}" alt="image product">
        <div class="body">
          <h4>{{item.title}}</h4>
          <p>{{item.description}}</p>
        </div>
        <div class="both px-3 mb-2 d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-danger">Add To Cart</button>
          <span class="mywhite">{{item.price}} L.E</span>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>